.body {
  display: flex;
  flex-direction: column;
}

.header {
  text-align: center;
  border-bottom: 5px solid black;
  & .nav {
    display: flex;
    gap: 10px;
    justify-content: center;
  }
}
.article {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: baseline;
}
.aside {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: baseline;
}
img {
  width: 200px;
  height: 200px;
}
.footer {
  position: relative
}